.Mui-selected {
  background-color:#2ab0ef1d !important;
}

.Topbar{
  display:flex;
  padding: 10px;
  background-color: rgb(3, 3, 167);
  color: white;
  align-items: center;
  margin-bottom: 20px;
}

.FormBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.TextBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.FormArea{
  width: 33%;
  padding:15px;
  margin-bottom: 20px;
}